<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Verbale</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container">
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${error == null}">
        <h2>Verbale n. <span th:text="${verbale.id}"></span></h2>
        <table class="table">
            <tr>
                <th>Data creazione verbale</th>
                <td th:text="${#temporals.format(verbale.data_Ora, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            <tr>
                <th>Corso</th>
                <td th:text="${corsoInfo.nome}"></td>
            </tr>
            <tr>
                <th>Data Appello</th>
                <td th:text="${#dates.format(appello.data, 'dd/MM/yyyy')}"></td>
            </tr>
        </table>
        <h3>Dettaglio Studenti</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Voto</th>
                    <th>Stato</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stud, iterStat : ${studenti}">
                    <td th:text="${stud.matricola}"></td>
                    <td th:text="${stud.cognome}"></td>
                    <td th:text="${stud.nome}"></td>
                    <td th:text="${valutazioni[iterStat.index].voto.toString()}"></td>
                    <td th:text="${valutazioni[iterStat.index].statoValutazione.toString()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <form th:action="@{/VaiHomeDocente}" method="get" style="margin-top: 20px;">
        <button type="submit" class="btn-secondary">Torna alla Home</button>
    </form>
</div>
</body>
</html>